@model AirTNG.Web.Models.VacationProperty

@{
    ViewData["Title"] = "Edit";
}

@section hero
{
    <div class="hero-space"></div>
}
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Edit Vacation Property</h3>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id"/>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control"/>
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default"/>
                </div>
            </form>
        </div>
        <div class="col-md-offset-3 col-md-6">
            <a asp-action="Index">Back to Property</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
