@using Microsoft.AspNetCore.Identity
@model IEnumerable<AirTNG.Web.Models.VacationProperty>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Vacation Properties";
}


@section hero
{
    <div class="hero-text">
        <h1>Lodging fit for a captain</h1>
        <p>The Next Generation of vacation rentals.</p>
    </div>
}
<div class="container">
    <div class="row">
    @foreach (var item in Model) {
        <div class="col-md-4">
            <a asp-action="Create" asp-controller="Reservation" asp-route-id="@item.Id" class="property">
                <img src="@item.ImageUrl" alt="Vacation Property" />
                <h2>@item.Description</h2>
            </a>
        </div>
    }
    </div>
</div>